img.index {
    height: 200px;
    width: 200px;
}

img.foreground {
    position: relative;
    margin-top: 6%;
    margin-left: 6%;
    width: 88%;
    height: auto;
}

img.background {
    position: absolute;
    width: 12%;
    height: auto;
}

li {
    width: 12%;
}

li.hidden {
    visibility: hidden;
}

img.up-scroll {
    width: 100%;
    height: auto;
}

img.down-scroll {
    margin-top: 6%;
    width: 100%;
    height: auto;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

ul.turtles {
    list-style: none;
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
}

button {
    width: 80%;
    align-self: center;
}

div.leftBar {
    width: 10%;
    height: auto;
}

div.center {
    margin: 15% auto auto;
    width: 25%;
    border: 3px solid green;
    padding: 10px;
}

body {
    background-color: #c6c6c6;
    overflow: hidden;
}