<div class="center">
    <img class="index" onclick="setPage('itemsystem')" src="static/imgs/me_drive.png">
    <img class="index" onclick="setPage('turtlesystem')" src="static/imgs/turtle.png">
</div>