<div class="center">
    <p>Login to the wyvern item system:</p>
    <label>
        <input type="text" placeholder="username" id="username">
        <input type="password" placeholder="password" id="password">
        <button onclick="login()">login</button>
    </label>
</div>