<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Overview</title>
</head>
<body>
<ul>
<% items.forEach(function(item) { %>
    <li> <%= item%> </li>
<% }) %>
</ul>
</body>
</html>